<div id="cluster-analysis-page">
  <section>
    <h1 class="main-title">Cluster analysis</h1>

    <%= form_tag(clusters_report_path, method: :get) do %>
        <div>
          <label for="model">Model</label>
          <select name="model" id="model">
            <% @models.each do |model| %>
                <option value="<%= model %>"><%= model %></option>
            <% end %>
          </select>
        </div>

        <div id="column-for-labels"></div>

        <button type="submit">Generate</button>
    <% end %>
  </section>
</div>
