<!DOCTYPE html>
<html>
<head>
  <title>Sail</title>
  <%= stylesheet_link_tag    "sail/application", media: "all" %>
  <%= javascript_include_tag "sail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
