@import "colors";

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.border-transition {
  -webkit-transition : border .25s ease-in;
  -moz-transition : border .25s ease-in;
  -o-transition : border .25s ease-in;
  transition : border .25s ease-in;
  outline: none;

  &:focus,
  &:hover {
    border-color: $tangerine;
    outline: none;
  }
}

.color-transition {
  -webkit-transition : color .25s ease-in;
  -moz-transition : color .25s ease-in;
  -o-transition : color .25s ease-in; 
  transition : color .25s ease-in;
  color: white;
  text-decoration: none;

  &:visited {
    color: white;
  }

  &:hover {
    color: $tangerine;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}
