/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "colors";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $cerulean;
  font-family: Helvetica, Arial, 'Roboto', sans-serif;
}

.clearfix {
  clear: both;
}

#nav-bar {
  background-color: $lead;

  .home-link {
    text-decoration: none;
    color: white;

    &:visited {
      color: white;
    }

    .title {
      margin: 0;
      text-align: center;
      font-size: 3rem;
      padding: .75rem 0;
    }
  }
}

#pagination {
  text-align: center;
  margin-top: 2rem;

  a {
    color: $main_black;
    text-decoration: none;
    background-color: white;
    padding: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-weight: bold;

    &.active {
      background-color: $tangerine;
      color: white;
    }
  }

  .link-holder {
    margin-bottom: 45px;

    a {
      padding: 15px 100px 15px 100px;
    }
  }
}
