@import "colors";

#settings-dashboard {
  max-height: 100vh;
  color: $main_black;

  #settings-container {
    margin-top: 1rem;
    text-align: center;
  }

  .card {
    min-height: 230px;
    background-color: white;
    margin: 1rem .75rem;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    z-index: 2;
    width: 25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    @media (min-width: 992px) { width: 44%; }
    @media (min-width: 1200px) { width: 21%; }

    hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .setting-message {
      text-align: center;
      color: $dark_green;
      font-size: 18px;
      font-weight: bolder;
      z-index: 5;
      -webkit-transition: opacity 1s ease;
      -moz-transition: opacity 1s ease;
      -ms-transition: opacity 1s ease;
      -o-transition: opacity 1s ease;
      transition: opacity 1s ease;
    }
    
    .card-body-container {
      display: table;
      width: 100%;
    }

    .card-body {
      height: 80px;
      width: 100%;
      display: table-cell;
      vertical-align: bottom;
    }

    .type-label {
      font-weight: bold;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background-color: $light_yellow;
      padding: 10px;
      color: $main_black;
      font-size: 14px;
    }

    .label-container {
      float: right;
      margin-top: 5px;
    }

    .setting-description {
      clear: both;
      padding: 25px 15px 15px 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: darken($aluminium, 45%);
    }

    .value-input {
      width: 98%;
      margin-bottom: 10px;
      height: 20px;
      font-size: 18px;
      outline: none;
      border: none;
      border-bottom: 2px solid darken($aluminium, 30%);
      font-family: 'Roboto', sans-serif;

      &:focus {
        border-color: $tangerine;
        outline: none;
      }
    }

    .value-slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin-bottom: 10px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $tangerine;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $tangerine;
        cursor: pointer;
      }
    }

    .btn-value-submit {
      width: 100%;
      height: 35px;
      text-align: center;
      font-size: 18px;
      border-radius: .25rem;
      background-color: $tangerine;
      border: none;
      outline: none;
      font-family: 'Roboto', sans-serif;

      &:active {
        color: $main_black;
        opacity: .8;
      }

      &:hover {
        background-color: darken($tangerine, 20%);
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-bottom: 10px;
      float: right;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked + .slider {
      background-color: $tangerine;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $tangerine;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
