@import "colors";
@import "shared";

#settings-dashboard {
  max-height: 100vh;
  color: $main_black;

  #settings-container {
    margin-top: 1rem;
    text-align: center;
  }

  .card {
    min-height: 230px;
    background-color: white;
    margin: 1rem .75rem;
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    z-index: 2;
    width: 25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @extend .rounded;

    @media (min-width: 992px) { width: 44%; }
    @media (min-width: 1200px) { width: 21%; }

    h3 {
      margin-left: 25px;

      .relevancy-score {
        float: right;
        color: darken($aluminium, 5%);
      }
    }

    .card-body-container {
      display: table;
      width: 100%;
    }

    .card-body {
      height: 80px;
      width: 100%;
      display: table-cell;
      vertical-align: bottom;
    }

    .tag {
      font-weight: bold;
      @extend .rounded;
      padding: 10px;
      color: $main_black;
      font-size: 14px;
      margin-left: 5px;
      text-decoration: none;

      &.type-label {
        background-color: $light_yellow;
      }

      &.group-label {
        background-color: $cerulean;
      }

      &.stale-label {
        background-color: $bright_red;
      }
    }

    .label-container {
      float: right;
      margin-top: 5px;
    }

    .setting-description {
      clear: both;
      padding: 25px 15px 15px 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: darken($aluminium, 45%);
    }

    .value-input {
      width: 98%;
      margin-bottom: 10px;
      font-size: 22px;
      text-align: center;
      border: none;
      border-bottom: 2px solid $aluminium;
      @extend .border-transition;
    }

    .date-picker {
      position: relative;
      bottom: 10px;
      border: none;
      border-bottom: 2px solid $aluminium;
      width: 100%;
      text-align: center;
      font-size: 22px;
      @extend .border-transition;
    }

    .value-slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      margin: 0 0 10px 0;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $tangerine;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: $tangerine;
        cursor: pointer;
      }
    }

    .btn-value-submit {
      @extend .btn-sail;
      width: 100%;
      height: 35px;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin-bottom: 10px;
      float: right;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked + .slider {
      background-color: $tangerine;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $tangerine;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .refresh-button {
      border: none;
      outline: none;
      float: left;
      background: transparent;

      img {
        height: 30px;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        img {
          -webkit-animation:spin 1s linear infinite;
          -moz-animation:spin 1s linear infinite;
          animation:spin 1s linear infinite;
        }
      }

      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    }

    &.minimal {
      min-height: 50px;
      padding-top: 0;

      label {
        font-size: 22px;
      }
    }
  }

  #search-container {
    #search-form {
      text-align: center;

      #query {
        height: 50px;
        width: 100%;
        border: 3px solid transparent;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        font-size: 18px;
        text-align: center;
        @extend .rounded;
        @extend .border-transition;
      }
    }

    .offset-container {
      float: left;
      width: 25%;
      height: 50px;
    }

    .inner-container {
      width: 50%;
      float: left;
    }

    .search-button {
      float: left;
      border: 3px solid transparent;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      @extend .rounded;
      @extend .border-transition;
      background: white;

      img {
        height: 100%;
      }
    }

    #btn-order {
      margin: 0 0 0 15px;
      height: 58px;
    }

    #sort-menu {
      background: white;
      position: absolute;
      right: 18%;
      top: 165px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      @extend .rounded;
      @extend .fade-in;
      padding: 10px;

      @media (min-width: 1980px) { right: 22%; }

      button {
        outline: none;
        border: none;
        width: 100%;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        background: transparent;
        padding: 5px;
        @extend .rounded;

        &:hover {
          background-color: $tangerine;
        }
      }
    }

    #main-app-link {
      margin: 0 0 0 8px;
      height: 53px;
    }

    #btn-profiles {
      height: 58px;
      margin: 0 0 0 8px;
    }
  }

  .notice {
    background-color: white;
    font-size: 24px;
    position: fixed;
    left: 50px;
    top: 85px;
    padding: 25px;
    width: 150px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: none;
    @extend .rounded;
    @extend .fade-in;

    &.success {
      color: $dark_green;
    }

    &.alert {
      color: $bright_red;
    }
  }

  #progress-container {
    text-align: center;

    #search-submit-progress {
      display: none;
      width: 100%;
      -webkit-appearance: none;
      height: 3px;
      position: relative;
      bottom: 22px;
      left: 3px;

      &::-webkit-progress-bar {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        background-color: white;
      }

      &::-webkit-progress-value {
        background-color: $cerulean;
      }
    }
  }
}

.btn-sail {
  text-align: center;
  font-size: 18px;
  @extend .rounded;
  background-color: $tangerine;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;

  &:active {
    color: $main_black;
    opacity: .8;
  }

  &:hover {
    background-color: darken($tangerine, 20%);
  }
}
