<div id="profiles-modal" style="display: none;">
  <h1>
    Profiles
    <span id="response-message"></span>
  </h1>

  <div class="clearfix"></div>
  <hr>

  <div class="profile-entry">
    <%= form_tag(profiles_path, method: :post, remote: true) do %>
      <input id="new-profile-input" type="text" name="name" placeholder="New profile: save a current snapshot of your settings">
      <button class="btn-sail" type="submit">SAVE</button>
    <% end %>

    <div class="clearfix"></div>
  </div>

  <div>
    <% Sail::Profile.select(:name).each do |profile| %>
      <div class="profile-entry">
        <span class="entry-name"><%= profile.name.titleize %></span>

        <button class="btn-sail">DELETE</button>
        <button class="btn-sail">ACTIVATE</button>

        <%= form_tag(profiles_path, method: :post, remote: true, class: "inline-form") do %>
          <input type="hidden" name="name" value="<%= profile.name %>">
          <button class="btn-sail" type="submit">SAVE</button>
        <% end %>

        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>
</div>
