var messageDiv = document.getElementById("<%= "setting-message-#{@setting.name}" %>");
var cardDiv = messageDiv.parentNode;
cardDiv.style.opacity = '.85';

var rect = cardDiv.getBoundingClientRect();
var offset = {
  top: rect.top + document.body.scrollTop,
  left: rect.left + document.body.scrollLeft
};

var width = cardDiv.style.width;
var height = cardDiv.style.height;
var centerX = (offset.left + width / 2) + 155;
var centerY = (offset.top + height / 2) + 150;

messageDiv.innerHTML = "<p class='<%= @successful_update ? 'success' : 'failure' %>' style='position: absolute; top: " + centerY + "px; left: " + centerX + "px;'><%= @successful_update ? I18n.t('sail.updated') : I18n.t('sail.failed') %></p>";

setTimeout(function () {
  cardDiv.style.opacity = '1.0';
  messageDiv.innerHTML = "";
}, 1500);
