name: Ruby on Rails

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rails_version: [5.2.4, 6.0.3]
        ruby_version: [2.5, 2.6, 2.7]

    steps:
    - uses: actions/checkout@v2.3.3
    - name: Cache
      uses: actions/cache@v2.1.1
      with:
        path: vendor/bundle
        key: ${{ matrix.ruby_version }}_${{ matrix.rails_version }}
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1.46.0
      with:
        ruby-version: ${{ matrix.ruby_version }}
    - name: Build and test with Rake
      run: |
        sudo apt-get install libsqlite3-dev
        rm Gemfile.lock
        gem install bundler
        bundle install --path vendor/bundle --jobs 4 --retry 3
        bundle exec rake
        bundle exec rubocop
      env:
        RAILS_VERSION: ${{ matrix.rails_version }}
        ON_CI: true
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
